@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800i');


// resets
*{
  margin: 0;
  padding:0;
  box-sizing: content-box;
}
body{
  margin: 0;
  padding:0;
  font-family: 'Open Sans', sans-serif;
}
// main-container
.container{
  margin-left: 15px;
  margin-right: 15px;
  box-sizing: content-box;
}

// Header
header{
  height: 50px;
  width: 100%;
  background: #fff;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.25), 0 2px 5px rgba(0,0,0,0.22);
  position:fixed;
}
  ul{

    li{
      list-style-type: none;
      display: inline-block;

      a{
        text-decoration: none;
        color: #212121;
        margin-left:10px;
      }
    }
  }

header>.container{
  height: 50px;
  display: flex;
  align-items: center;

    h2{
      font-weight: 100;
      width:33px;
      color: black;
      font-weight: 900;
      background: black;
      color: #fff;
      padding: 5px;
      opacity: 0.75;
      border-radius: 50%;
      transition: 0.75s;
      text-align: center;
      -webkit-animation: rotation 5s infinite linear;
    }

  @-webkit-keyframes rotation {
  		  0%, 20%{
          border-radius: 50%;
  				-webkit-transform: rotate(0deg);
  		}

  		30%,100%{
        border-radius: 0px;
  			-webkit-transform: rotate(360deg);
  		}
  }

  .logo{
    flex-grow: 3;
  }
}
// buttonHover
a:hover{
  background: silver;
  padding: 5px;
  transition: 0.3s ease-out;
}

// showcase
#Showcase{
  height: 100vh;
  background: url('../images/hero.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  .container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

    .hero-text-1{
      background: black;
      color: #fff;
      opacity: 0.75;
      padding: 10px;
      font-size: 70px;
      margin-right: 20px;
      border-radius: 50%;
      transition:0.7s;

    }
    .hero-text-1:hover{
      padding: 10px;
      transform: rotate(360deg);
      border-radius: 0;
    }
    .hero-text-2{
      color: #fff;
      font-size: 70px;
    }
  }
}

// portfolio
#portfolio{
  height: auto;
  width: 100%;
  background:#fafafa;
    h1{
      margin-left: 30px;
      margin: 0 30px;
      padding-top: 30px;
      color:#212121;
    }

    hr{
      margin: 30px 30px;
      color: gray;
    }

    .container{
      height: auto;
      width: auto;
      display: flex;
      flex-wrap: wrap;

          .img{
              height:300px;
              width: 300px;
              margin: 15px;
              flex-grow: 1;
              box-shadow: 0 -2px 10px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);
              transition: 0.4s;
          }
          .img:hover{
            filter:opacity(0.6);
          }
          .img1{
            background: url('../images/img1.jpg');
            background-size: cover;
            background-position: center;
          }
          .img2{
              background: url('../images/img2.jpg');
              background-size: cover;
              background-position: center;
          }
          .img3{
            background: url('../images/img3.jpg');
            background-size: cover;
            background-position: center;
          }
          .img4{
            background: url('../images/img4.jpg');
            background-size: cover;
            background-position: center;
          }
          .img5{
            background: url('../images/img5.jpg');
            background-size: cover;
            background-position: center;
          }
          .img5{
            background: url('../images/img5.jpg');
            background-size: cover;
            background-position: center;
          }
          .img6{
            background: url('../images/img6.jpg');
            background-size: cover;
            background-position: center;
          }
          .img7{
            background: url('../images/img7.jpg');
            background-size: cover;
            background-position: center;
          }
          .img8{
            background: url('../images/img8.jpg');
            background-size: cover;
            background-position: center;
          }
          h3{
            font-size: 20px;
            background: black;
            width: 100px;
            color: #fff;
            opacity: 0.75;
            text-align: center;
            padding: 10px;
          }
    }

}
#Contact{
  height: 50vh;
  width: 100%;

    .container{
      margin: 0 30px;
        h1{
          margin-top: 30px;
        }
        hr{
          margin-top: 30px;
        }
        p{
          margin-top: 30px;
        }
    input{
      background: transparent;
      font-size: 15px;
      width: 100%;
      margin-top: 30px;
      display:block;
      padding-bottom:5px;
      border: none;
      border-bottom: 1px solid black;
    }

    .btn-primary{
      margin-top: 30px;
      font-size: 15px;
      background: Black;
      color: #fff;
      padding: 10px;
      font-weight: bold;
      transition: 0.2s;
      border-radius: 5px;
    }

    .btn-primary:hover{
      background: gray;
      padding:15px;
    }
  }
}

// footer
.footer{
  margin-top:30px;
  height: 40px;
  background: black;
  color: #fff;
  display: flex;
  justify-content:center;
  align-items: center;
    .creator{
      text-decoration: underline;
    }
}


// Mobile Responsive
@media only screen and (max-width: 500px) {
  header{
    height: 80px;
    .container{
      flex-direction: column;
        .logo{
          margin:5px;
        }
    }
  }
#Showcase{
  .container{
    display: flex;
    flex-direction: column;
  }
}
}
